@tailwind base;
@tailwind components;
@tailwind utilities;

.suggest {
  margin: 10px 10px 10px 10px;
  padding: 16px 6px;
  border-radius: 10px;
  text-align: center;
  word-break: auto-phrase;
}

.suggestLight {
  background-color: #f6f6f6;
}

.suggestBlueDark {
  background-color: #25384B;
}

.suggestDark {
  background-color: #2d2d2d;
}

.suggest p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  font-size: small;
}

.suggest > .title {
  font-size: 18px;
  font-weight: bold;
}

.suggest > .content {
  padding: 10px 0px;
}

.suggest.agree {
  background-color: rgba(15, 20, 25, 1);
  color: #ffffff;
  margin: 6px 6px 0px 6px;
  padding: 5px 16px;
  border-radius: 20px;
  border: solid 1px rgb(100, 100, 100);
  font-weight: bold;
}

.suggest.disagree {
  background-color: rgb(255, 255, 255);
  color: rgba(15, 20, 25, 1);
  margin: 6px 6px 0px 6px;
  padding: 5px 16px;
  border-radius: 20px;
  border: solid 1px rgb(100, 100, 100);
  font-weight: bold;
}

.suggest-position {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  margin: 0px 0px 0px 0px;
  transform: translate(-50%, -50%);
}

.fixPostButton {
  background-color: rgb(29, 155, 240);
  border-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  min-height: 36px;
  min-width: 36px;
  padding-left: 17px;
  padding-right: 17px;
  margin-left: 12px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  position:absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

[data-testid="tweetButton"] {
  position:relative;
}